/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #cdfcd5;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(189, 189, 189, 0.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.collection-header {
  font-weight: bold;
  text-align: center;
}

.custom-container {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  text-align: center;
}

/* General styles */
.discord-button {
  margin: 10px;
  text-align: center;
}

/* Smaller screens styles */
@media only screen and (max-width: 600px) {
  .discord-button {
    font-size: 14px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header.center {
    font-size: 24px;
  }

  .header.col.s12.light {
    font-size: 16px;
  }
}

/* Medium screens styles */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .discord-button {
    font-size: 16px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header.center {
    font-size: 36px;
  }

  .header.col.s12.light {
    font-size: 18px;
  }
}

/* Large screens styles */
@media only screen and (min-width: 993px) {
  .discord-button {
    font-size: 18px;
    padding: 14px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header.center {
    font-size: 48px;
  }

  .header.col.s12.light {
    font-size: 20px;
  }
}
