pre.logo {
    font-size: 12px;
    text-align: center;
    line-height: 1;
    background-color: white;
  }

  .m-t-25 {
    margin-top: 25px;
  }

  .m-t-15 {
    margin-top: 15px;
  }

  .m-b-5 {
    margin-top: 25px;
  }

  .m-l-15 {
    margin-left: 15px;
  }

  .m-l-25 {
    margin-left: 25px;
  }


  a {
    padding: 0 2px;
    color: hsl(217, 71%, 53%);
  }

  a:hover,
  a:focus {
    color: hsl(0, 0%, 21%);
  }

  .max-height {
    height: 100%;
  }

  .to-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .is-very-small > .hero-body {
    padding: 0.5rem;
  }

  .is-transparent-warning {
    background-color: hsl(48, 100%, 67%, 69%);
  }
