pre.logo {
  font-size: 12px;
  text-align: center;
  line-height: 1;
  background-color: white;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-25 {
  margin-left: 25px;
}


a {
  padding: 0 2px;
  color: hsl(217, 71%, 53%);
}

a:hover,
a:focus {
  color: hsl(0, 0%, 21%);
}

.max-height {
  height: 100%;
}

.to-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-very-small>.hero-body {
  padding: 0.5rem;
}

.is-transparent-warning {
  background-color: hsl(48, 100%, 67%, 69%);
}

#blocks {
  transform: scale(15);
  filter: invert(100%) sepia(3%) saturate(147%) hue-rotate(198deg) brightness(117%) contrast(92%);
  position: absolute;
  left: 48%;
  top: -200;
}

.pulsate {
  -webkit-animation: pulsate 3s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}

.center {
  text-align: center;
}

.black {
  color: #4a4a4a;
}

@media screen and (min-width: 760px) {
  .navbar, .navbar-end, .navbar-menu, .navbar-start {
      align-items: stretch;
      display: flex;
  }

  .navbar-item, .navbar-link {
    align-items: center;
    display: flex;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }
}
